<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>147089904352-ocvtgll80jpu7avum1ineip0fga4q7o7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.147089904352-ocvtgll80jpu7avum1ineip0fga4q7o7</string>
	<key>API_KEY</key>
	<string>AIzaSyAJ7A9ZGRKcrLhiv_-LyEkrQDLH7hpxZ9M</string>
	<key>GCM_SENDER_ID</key>
	<string>147089904352</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kun.piano</string>
	<key>PROJECT_ID</key>
	<string>gaozhongshuxue-90c87</string>
	<key>STORAGE_BUCKET</key>
	<string>gaozhongshuxue-90c87.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:147089904352:ios:ca54d1c682cc9364</string>
	<key>DATABASE_URL</key>
	<string>https://gaozhongshuxue-90c87.firebaseio.com</string>
</dict>
</plist>